<footer class="border-top footer text-muted">
    <div class="container">
        &copy; @DateTime.Now.Year - TechJobPortal -
        <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
